<a href="https://colab.research.google.com/github/akaicomet/NJOITOpenDataCenter-Pension-Record/blob/master/NJOITOpenDataCenter_Pension_Record_ModelEaluating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas
!pip install tqdm
!pip install scikit-learn
!pip install sodapy
!pip install matplotlib
!pip install hyperopt
!pip install bayesian-optimization
!pip install tbvaccine 
!pip install MulticoreTSNE
!pip install -U -q PyDrive

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.22.0)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.14.6)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas) (1.11.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (4.28.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (0.20.2)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.14.6)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: sodapy in /usr/local/lib/python3.6/dist-packages (1.5.0)
Requirement already satisfied: future>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from sodapy) (0.17.1)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2018.11.29)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.0.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.5.3)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.14.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.3.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib) (1.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib) (40.7.1)
Requirement already satisfied: hyperopt in /usr/local/lib/python3.6/dist-packages (0.1.1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from hyperopt) (0.17.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from hyperopt) (1.11.0)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from hyperopt) (2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from hyperopt) (1.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from hyperopt) (1.14.6)
Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (from hyperopt) (3.7.2)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->hyperopt) (4.3.2)
Requirement already satisfied: bayesian-optimization in /usr/local/lib/python3.6/dist-packages (1.0.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.14.6)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (0.20.2)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.1.0)
Requirement already satisfied: tbvaccine in /usr/local/lib/python3.6/dist-packages (0.3.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from tbvaccine) (2.1.3)
Requirement already satisfied: MulticoreTSNE in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from MulticoreTSNE) (1.14.6)
Requirement already satisfied: cffi in /usr/local/lib/python3.6/dist-packages (from MulticoreTSNE) (1.11.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi->MulticoreTSNE) (2.19)

#1. Copy python files from  GItHub repository to local

In [2]:
!git clone https://github.com/akaicomet/NJOITOpenDataCenter.git
!git clone https://github.com/akaicomet/akaicomet_Utility.git
!git clone https://github.com/akaicomet/akaicomet_Chart.git
!git clone https://github.com/akaicomet/akaicomet_ML.git

fatal: destination path 'NJOITOpenDataCenter' already exists and is not an empty directory.
fatal: destination path 'akaicomet_Utility' already exists and is not an empty directory.
fatal: destination path 'akaicomet_Chart' already exists and is not an empty directory.
fatal: destination path 'akaicomet_ML' already exists and is not an empty directory.

#2. Run .py files in local

In [0]:
%run -i /content/akaicomet_Utility/ErrorHandling.py

%run -i /content/NJOITOpenDataCenter/YourMoneyActivePensionMembers.py 
%run -i /content/NJOITOpenDataCenter/YourMoneyRetiredPensionMembers.py
%run -i /content/NJOITOpenDataCenter/YourMoneyPensionMembersMerge.py

%run -i /content/akaicomet_Chart/X-Ray_Scan.py
%run -i /content/akaicomet_Chart/akaicomet_Chart.py

%run -i /content/akaicomet_ML/ML_Init.py
%run -i /content/akaicomet_ML/ML_Auto.py
%run -i /content/akaicomet_ML/AutoFeatureEngineering.py

#3. Import libraries

In [0]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
import random
from sodapy import Socrata
#from pandas.plotting import scatter_matrix
#from datetime import datetime
import seaborn as sb
from tqdm import tqdm
import warnings
from textwrap import wrap

#4. YourMoney and the NJOIT Open Data Center 
##4.1 YourMoney Active Pension Members API

**Pension member data load from NJOIT**

In [5]:
client = Socrata("data.nj.gov", None)
results = client.get("45bd-gwii", limit=100000000)#100000000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

**Data Cleansing and Preparation for YourMoney Active Pension Members data**

In [0]:
ActivePension_df = ActivePensionDataWrangler(results)

##4.2 YourMoney Retired Pension Members API
**Pension payment member data load from NJOIT**

In [0]:
results = client.get("8up4-62p6",   limit=100000000)

**Data Cleansing and Preparation for YourMoney Retired Pension data**

In [0]:
RetiredPension_df_grped = RetiredPensionMembersDataWrangler(results)

**Merge YourMoney Active Pension Members data and YourMoney Retired Pension data**

In [0]:
ActivePension_df = PensionMembersMerge(ActivePension_df,RetiredPension_df_grped)
del results

# 5 Recheck  Correlation Variable Validation:

In [17]:
#x_cols2 = ['_20_year_status',	'all_employers_salary_amt',		'employer_freq_pensioned', 'total_months_qty',	'location_freq_pensioned',		'current_employer_salary_rollingamt', 	'service_months_qty',	'pension_freq_pensioned', 'pension_fund_name_enc', 'pension_group_name_enc' ]
x_cols2 = ['_20_year_status','all_employers_salary_amt','employer_freq_pensioned','total_months_qty','location_freq_pensioned','service_months_qty','pension_freq_pensioned','pension_fund_name_enc','pension_group_name_enc' ]
ActivePension_df[x_cols2].corr()

,_20_year_status,all_employers_salary_amt,employer_freq_pensioned,total_months_qty,location_freq_pensioned,service_months_qty,pension_freq_pensioned,pension_fund_name_enc,pension_group_name_enc
_20_year_status,1.000000,0.295118,-0.074679,0.844411,0.082618,-0.002429,0.091064,-0.238068,-0.113550
all_employers_salary_amt,0.295118,1.000000,-0.066198,0.395345,-0.030279,-0.027708,-0.439474,0.207998,0.097105
employer_freq_pensioned,-0.074679,-0.066198,1.000000,-0.065524,0.187599,0.026186,0.040389,0.099662,-0.033238
total_months_qty,0.844411,0.395345,-0.065524,1.000000,0.067168,0.000102,0.047303,-0.187378,-0.121364
location_freq_pensioned,0.082618,-0.030279,0.187599,0.067168,1.000000,0.056022,0.308507,0.047458,-0.063150
service_months_qty,-0.002429,-0.027708,0.026186,0.000102,0.056022,1.000000,0.079330,0.052583,-0.034342
pension_freq_pensioned,0.091064,-0.439474,0.040389,0.047303,0.308507,0.079330,1.000000,-0.306339,-0.308736
pension_fund_name_enc,-0.238068,0.207998,0.099662,-0.187378,0.047458,0.052583,-0.306339,1.000000,0.185796
pension_group_name_enc,-0.113550,0.097105,-0.033238,-0.121364,-0.063150,-0.034342,-0.308736,0.185796,1.000000

#6 Initial Basic Model Selected

In [18]:
y_train = ActivePension_df['IsPensionPaid']
X_train = ActivePension_df[x_cols2]

X_train = X_train.astype(float)

clfs = dict()
clfs_score = dict()

scaling_def = {'QuantileTransformer_n':QuantileTransformer(output_distribution='normal')}
redemensioning_def = {'PCA': PCA(n_components=0.99, svd_solver='full')}

for data in map(lambda x:Redimensioning2(x[1],x[0],redemensioning_def), scaling3(X_train,scaling_def)):
  for x in data:
    MLModelBuilding('RandomForestClassifier', x[1], x[0], y_train, 0.3, clfs, [0.1, 1],clfs_score)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Train score: 0.9907248539102325
Test score: 0.9546272120684653
Test2 score: 0.9814911517261387
RandomForestClassifier|PCA QuantileTransformer_n|

In [13]:
clfs['RandomForestClassifier|PCA QuantileTransformer_n|']

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

#7 Forecast Model Review

In [0]:
scaling_def = {'QuantileTransformer_n':QuantileTransformer(output_distribution='normal')}
redemensioning_def = {'PCA': PCA(n_components=0.99, svd_solver='full')}

sample = ActivePension_df[x_cols2 + ['IsPensionPaid']].sample(n=50000, random_state=5)

for data in map(lambda x:Redimensioning2(x[1],x[0],redemensioning_def), scaling3(sample[x_cols2],scaling_def)):
  for x in data:
    clf_pred = clfs['RandomForestClassifier|PCA QuantileTransformer_n|'].predict(x[0])

In [0]:
Predict_df = sample
Predict_df['Predict'] = clf_pred

In [31]:
Predict_df[Predict_df['IsPensionPaid'] != Predict_df['Predict']]

,_20_year_status,all_employers_salary_amt,employer_freq_pensioned,total_months_qty,location_freq_pensioned,service_months_qty,pension_freq_pensioned,pension_fund_name_enc,pension_group_name_enc,IsPensionPaid,Predict
35075,1,83030.0,54.0,333,5790,9,4551,0.767324,0.479019,1.0,0.0
28603,1,51781.0,15.0,358,1677,10,16480,0.441019,0.448616,1.0,0.0
17929,1,73519.0,14.0,454,5790,10,16480,0.441019,0.448616,1.0,0.0
57205,1,34715.0,60.0,529,1421,1,16480,0.441019,0.448616,1.0,0.0
6054,1,78708.0,1.0,375,205,3,5243,0.378994,0.479019,1.0,0.0
23517,1,128000.0,57.0,438,5790,6,16480,0.441019,0.448616,1.0,0.0
5108,1,34612.0,405.0,388,2309,4,16480,0.441019,0.448616,1.0,0.0
33500,1,201518.0,29.0,411,1371,3,5243,0.378994,0.479019,0.0,1.0
45852,1,73924.0,195.0,346,5790,10,16480,0.441019,0.448616,1.0,0.0
44544,1,84279.0,50.0,449,5790,5,16480,0.441019,0.448616,1.0,0.0
55310,1,52390.0,98.0,353,5790,5,16480,0.441019,0.448616,1.0,0.0
10670,1,58038.0,31.0,343,5790,7,16480,0.441019,0.448616,1.0,0.0
23560,1,29709.0,9.0,382,1677,10,16480,0.441019,0.448616,1.0,0.0
48319,1,97330.0,55.0,435,862,3,5243,0.378994,0.479019,1.0,0.0
47537,1,99229.0,158.0,330,956,6,16480,0.441019,0.448616,1.0,0.0
51644,1,107717.0,405.0,407,2309,11,5243,0.378994,0.479019,0.0,1.0
38782,1,107350.0,9.0,343,5790,7,16480,0.441019,0.448616,1.0,0.0
50430,1,97870.0,90.0,531,956,3,5243,0.378994,0.479019,1.0,0.0
44855,1,95353.0,29.0,359,1681,11,16480,0.441019,0.448616,1.0,0.0
28176,1,49408.0,9.0,370,1681,10,16480,0.441019,0.448616,1.0,0.0
39500,1,104940.0,405.0,355,2309,7,5243,0.378994,0.479019,1.0,0.0
22004,1,22106.0,32.0,446,1681,2,16480,0.441019,0.448616,1.0,0.0
3403,1,98100.0,15.0,352,1677,4,5243,0.378994,0.479019,1.0,0.0
46876,1,120470.0,18.0,374,5790,2,16480,0.441019,0.448616,1.0,0.0
4730,1,5000.0,3.0,362,534,2,16480,0.441019,0.448616,0.0,1.0
22507,1,122594.0,58.0,371,490,11,16480,0.441019,0.448616,1.0,0.0
26887,1,83030.0,65.0,334,5790,10,16480,0.441019,0.448616,1.0,0.0
3010,1,84453.0,19.0,452,5790,8,16480,0.441019,0.448616,1.0,0.0
32837,1,48774.0,16.0,326,5790,2,16480,0.441019,0.448616,1.0,0.0
10660,1,48774.0,124.0,356,5790,8,16480,0.441019,0.448616,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
10300,1,11953.0,4.0,362,1677,2,16480,0.441019,0.448616,1.0,0.0
5440,1,73519.0,5.0,473,5790,5,16480,0.441019,0.448616,1.0,0.0
45555,1,94350.0,75.0,339,2309,3,5243,0.378994,0.479019,1.0,0.0
409,1,45968.0,32.0,345,1832,9,16480,0.441019,0.448616,1.0,0.0
26375,1,52868.0,123.0,341,1146,5,16480,0.441019,0.448616,1.0,0.0
44345,1,92726.0,5.0,409,5790,1,16480,0.441019,0.448616,1.0,0.0
45923,1,105223.0,8.0,479,1421,11,16480,0.441019,0.448616,1.0,0.0
46797,1,73580.0,83.0,434,1371,2,16480,0.441019,0.448616,1.0,0.0
41437,1,117030.0,298.0,447,1832,3,5243,0.378994,0.479019,1.0,0.0
57410,1,70203.0,5.0,328,5790,4,16480,0.441019,0.448616,1.0,0.0
33642,1,10195.0,57.0,345,1200,9,16480,0.441019,0.448616,1.0,0.0
2193,1,89740.0,23.0,367,5790,7,16480,0.441019,0.448616,1.0,0.0
37187,1,129650.0,18.0,362,1677,2,4551,0.767324,0.479019,1.0,0.0
19736,1,83501.0,117.0,350,1282,2,4551,0.767324,0.479019,1.0,0.0
8655,1,158656.0,80.0,366,1832,6,4551,0.767324,0.448616,1.0,0.0
10692,1,101635.0,46.0,348,1421,0,5243,0.378994,0.479019,1.0,0.0
40874,1,101825.0,65.0,367,5790,7,16480,0.441019,0.448616,1.0,0.0
45924,1,105223.0,8.0,479,1421,11,16480,0.441019,0.448616,1.0,0.0
52541,1,63174.0,2.0,353,1006,5,16480,0.441019,0.448616,1.0,0.0
37882,1,75346.0,26.0,359,912,11,16480,0.441019,0.448616,1.0,0.0
52740,1,66816.0,147.0,370,1371,10,16480,0.441019,0.448616,1.0,0.0
28697,1,104306.0,4.0,387,158,3,5243,0.378994,0.479019,1.0,0.0
35864,1,81162.0,31.0,437,1006,5,5243,0.378994,0.479019,1.0,0.0
25859,1,152295.0,38.0,397,1681,1,4551,0.767324,0.479019,1.0,0.0
37710,1,65972.0,195.0,345,5790,9,16480,0.441019,0.448616,1.0,0.0
23366,1,84090.0,15.0,387,431,3,5243,0.378994,0.479019,1.0,0.0
5083,1,40736.0,298.0,371,1832,11,16480,0.441019,0.448616,0.0,1.0
16609,1,165288.0,24.0,362,1677,2,4551,0.767324,0.479019,1.0,0.0
41709,1,60720.0,21.0,340,1200,4,16480,0.441019,0.448616,1.0,0.0
41166,1,31320.0,136.0,335,1282,11,16480,0.441019,0.448616,1.0,0.0